<div class="products-list">
    
    <mat-card class="list-card">
        <mat-card-header>
            <mat-card-title>Products</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="product-row" *ngFor="let prod of productsList">
            
            <a routerLink="product-details/{{prod.id}}" class="product-row-details">
                <span class="text-group">
                <!-- <span class="product-id p-info">{{prod.id}}</span> -->
                <span class="product-name p-info">{{prod.name}}</span>
                <span class="product-color p-info">{{prod.color}}</span>
                <span class="product-price p-info">{{prod.price}}</span>
            </span>
            
            </a>
            <span class="product-row-action">
                <button (click)="deleteProduct(prod.id)" mat-flat-button color="warn">
                    <i class="fa-solid fa-trash"></i>
                </button>
                
            </span>
      
        </div>
    </mat-card-content>
    </mat-card>        

</div>


  

