table {
    max-width: 100%;
    width:fit-content;
    margin:auto;
  }

table caption {
    font-weight: 500;
    font-size: 20px;
    margin-bottom:1em;
    margin-top:2em;
}

th.mat-header-cell,th.mat-header-cell:first-of-type,th.mat-header-cell:last-of-type{
    padding:0;
    text-align:center;
}

td.mat-cell{
 padding: 2em;
 text-align:center;
  }

.prod-row{
    cursor: pointer;
  }

.prod-row:hover{
    background-color: #78787829;
}