<table mat-table [dataSource]="_productsList" class="mat-elevation-z8">

    <caption>Products</caption>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let product" routerLink="product-details/{{product.id}}"> {{product.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product" routerLink="product-details/{{product.id}}"> {{product.name}} </td>
    </ng-container>
  
    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let product" routerLink="product-details/{{product.id}}"> {{product.color}} </td>
    </ng-container>
  
    <!-- Price Column -->
    <!-- <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product" routerLink="product-details/{{product.id}}"> {{product.price}} </td>
    </ng-container> -->

     <!-- Delete product Column -->
     <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let product">
             <button (click)="deleteProduct(product.id)" mat-flat-button color="warn">
            <i class="fa-solid fa-trash"></i>
        </button> 
    </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="prod-row"></tr>
  </table>
  
  


  

