<div class="product-form">
    <mat-card class="details-card">

        <mat-card-header>
            <mat-card-title>Product Details</mat-card-title>
        </mat-card-header>

        <!-- Product details form -->
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <!-- Product Id -->
                    <div class="form-group">
                        <label for="product-id">Product Id</label>
                        <input type="text" name="product-id" [(ngModel)]="product.id" disabled>
                    </div>
                     <!-- Product Name -->
                    <div class="form-group">
                        <label for="product-name">Product Name</label>
                        <input type="text" name="product-name" [(ngModel)]="product.name">
                    </div>
                     <!-- Product Color -->
                    <div class="form-group">
                        <label for="product-color">Product Color</label>
                        <input type="text" name="product-color" [(ngModel)]="product.color">
                    </div>
                    <!-- Product Price -->
                    <div class="form-group">
                        <label for="product-price">Product Price</label>
                        <input type="number" name="product-price" [(ngModel)]="product.price">
                    </div>
                </mat-card-content>
                <!-- Action buttons -->
                <mat-card-actions class="product-actions">
                    <button routerLink="" mat-button>Back</button>
                    <button type="submit" mat-flat-button color="primary"> Update</button>
                </mat-card-actions>

            </form>
            <!-- Update request status message -->
            <div *ngIf="showCheck" class="status-msg">
                <p>Product updated <i class="fa-solid fa-check fa-bounce" style="--fa-animation-duration: 5s;"></i></p>
            </div>
    </mat-card>
</div>
